@import "vars"

//Extra large: ≥1440px
+media-breakpoint-down(xl)

//Large: ≥1200px  max-width: 1439px
+media-breakpoint-down(lg)
	.vacancies
		&-item
			&__img
				min-height: 200px
	.people
		&-item
			&__img
				height: 200px
	.portfolio
		&-item
			&__img
				height: 300px
	.detail
		&-img
			height: 300px
	.related
		&-item
			&__img
				height: 300px
	.detail
		&-slider
			&__slide
				min-height: 500px

//Medium: ≥992px max-width: 1199px
+media-breakpoint-down(md)
	.vacancies
		&-item
			&__img
				min-height: 150px
	.people
		&-item
			&__img
				height: 150px
	.portfolio
		&-item
			&__img
				height: 150px
	.related
		&-item
			&__img
				height: 150px
	.detail
		&-img
			height: 150px
	.detail
		&-slider
			&__slide
				min-height: 400px

//Small: ≥768px max-width: 991px
+media-breakpoint-down(sm)
	.hamburger
		position: fixed
		top: 0
		left: 0
		z-index: 10
		line-height: 1
		background-color: rgba(#F5F5F5, .4)
		transition: all ease .3s
		&.is-active
			left: 134px
	body
		&:after
			overflow: hidden
			content: ''
			width: 0
			height: 100%
			background-color: rgba(#000, .6)
			position: fixed
			top: 0
			left: 0
			transition: all ease .3s
		&.nav-show
			&:after
				width: 100%
	.nav
		left: -190px
		transition: all ease .3s
		&.show
			left: 0
	.content
		width: 100%
		float: none
	.technologies
		&__img
			margin-bottom: 20px
	.portfolio-item
		&__ttl
			margin-bottom: 0
	.vacancies
		&-item
			&__img
				min-height: 300px
	.people
		&-item
			width: 400px
			margin: 0 auto 40px
			&__img
				width: 400px
				height: 300px
				margin: 0 auto
	.portfolio
		&-item
			&__img
				height: 400px
	.detail
		&-img
			height: 350px
	.related
		&-item
			&__img
				height: 350px

//Extra small: ≥576px max-width: 767px
+media-breakpoint-down(xs)
	.tab
		&-mnu
			display: block
			&__link
				display: block

//Extra small: >0 max-width: 575px
+media-breakpoint-down(xxs)
	.main-slider
		&__ttl
			font-size: 18px
			right: inherit
			left: 10px
	.portfolio-item-info
		padding: 15px
		&__txt
			font-size: 13px
	.vacancies
		&__txt
			margin-bottom: 0
		&__img
			display: none
		&-item
			&__img
				min-height: 250px
	.people
		&-item
			width: 100%
			&__img
				width: 100%
	.portfolio
		&-item
			&__img
				height: 150px
	.detail
		&__ttl
			font-size: 24px
		&-img
			height: 150px
	.related
		&-item
			&__img
				height: 150px
	.detail
		&-slider
			&__slide
				min-height: 300px
