@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $grey
	color: #fff

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	background-color: #fff
	input, textarea
		outline: none

.img-r
	display: block
	max-width: 100%
	height: auto

h1, h2, h3, h4, h5, h6
	font-weight: normal

a:hover
	text-decoration: none
	color: initial

a:focus
	outline: none

button
	border: none
	background-color: transparent
	outline: none
	&:focus
		outline: none

.mh100vh
	min-height: calc(100vh - 108px)

.p0
	padding-left: 0
	padding-right: 0

.lang
	width: 50px
	position: absolute
	top: 20px
	left: 50%
	margin-left: -25px
	&__item
		display: inline-block
		font-family: $title-r
		color: #BBBBBB
		&.active
			color: #000
.nav
	position: fixed
	display: table
	width: 190px
	height: 100vh
	padding: 20px
	float: left
	background-color: #F5F5F5
	z-index: 2
	&__logo
		max-width: 108px
		position: absolute
		top: 70px
		left: 50%
		margin-left: -54px
	&-list
		display: table-cell
		vertical-align: middle
		padding-left: 22px
		list-style-type: none
		margin-bottom: 0
		&__item
			font-family: $title-s
			font-size: 16px
			letter-spacing: .05em
			text-transform: uppercase
			margin-bottom: 6px
			&:last-child
				margin-bottom: 0
			&:first-child
				margin-bottom: 10px
			a
				color: #000
				transition: all ease .3s
				&.active
					font-family: $bold
				&:hover
					color: #4F4F4F
		&-sublist
			list-style-type: none
			padding-left: 0
			margin-bottom: 15px
			li
				font-family: $title-r
				font-size: 14px
				margin-bottom: 5px
				&:last-child
					margin-bottom: 0
				a
					color: #4F4F4F
	&-soc
		width: 104px
		position: absolute
		bottom: 40px
		left: 50%
		margin-left: -52px
		&__link
			float: left
			margin-right: 6px
			&:last-child
				margin-right: 0
	&-enter
		width: 100px
		text-align: center
		position: absolute
		bottom: 70px
		left: 50%
		margin-left: -50px
		font-family: $title-r
		font-size: 14px
		letter-spacing: .06em
		color: #000

.content
	overflow-x: hidden
	position: relative
	width: calc(100% - 190px)
	float: right
	height: 100vh

.main
	position: relative
	&__logo
		max-width: 180px
		position: absolute
		top: 40px
		left: 50%
		margin-left: -90px
		z-index: 1
	&-slider
		height: 100vh
		&__slide
			position: relative
			height: 100vh
			width: 100%
			outline: none
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			&:before
				content: ''
				width: 100%
				height: 100%
				background-color: rgba(#020202, .2)
				position: absolute
				top: 0
				left: 0
			&:after
				content: ''
				width: 100%
				height: 115px
				background-color: rgba(#303030, .2)
				position: absolute
				bottom: 0
			&.project1
				background-image: url(../img/project1.jpg)
			&.project2
				background-image: url(../img/project2.jpg)
			&.project3
				background-image: url(../img/project3.jpg)
			&.project4
				background-image: url(../img/project4.jpg)
			&.project5
				background-image: url(../img/project5.jpg)
			&.project6
				background-image: url(../img/project6.jpg)
		&__ttl
			z-index: 1
			font-size: 25px
			position: absolute
			bottom: 60px
			right: 60px
			color: #fff

.slick-arrow
	z-index: 1
	cursor: pointer
	width: 60px
	height: 60px
	position: absolute
	top: 50%
	margin-top: -30px
	font-size: 0
	background-size: 24px 48px
	background-position: center center
	background-repeat: no-repeat
	transition: all ease .3s
	&.slick-next
		right: 0
		background-image: url(../img/arr_next.svg)
		&:hover
			background-image: url(../img/arr_next_hover.svg)
	&.slick-prev
		left: 0
		background-image: url(../img/arr_prev.svg)
		&:hover
			background-image: url(../img/arr_prev_hover.svg)

.slick-dots
	display: table
	padding-left: 0
	list-style-type: none
	margin-bottom: 0
	position: relative
	bottom: 60px
	left: 0
	right: 0
	margin-right: auto
	margin-left: auto
	li
		cursor: pointer
		display: inline-block
		width: 15px
		height: 15px
		border-radius: 50%
		background-color: #898989
		margin-right: 20px
		font-size: 0
		&:last-child
			margin-right: 0
		&.slick-active
			background-color: #fff

.tab-mnu
	list-style-type: none
	margin-bottom: 40px
	padding-left: 0
	display: flex
	&__link
		cursor: pointer
		flex-direction: row
		flex-grow: 1
		letter-spacing: .03em
		text-align: center
		&.active
			font-family: $semi

.tab-content
	display: none
	animation: fadeEffect 1s
	&.active
		display: block
    
@keyframes fadeEffect
    from
    	opacity: 0
    to
    	opacity: 1

.portfolio
	&__ttl
		margin: 40px 0 20px
		font-family: $title-s
		font-size: 25px
		text-transform: uppercase
		letter-spacing: .05em
		color: #333333
		text-align: center
	&-item
		display: block
		margin-bottom: 40px
		&__img
			height: 400px
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			margin-bottom: 10px
		&__ttl
			position: relative
			font-family: $title-s
			font-size: 16px
			letter-spacing: .02em
			color: #333333
			margin-bottom: 10px
			padding-bottom: 10px
			&:after
				content: ''
				width: 80px
				height: 1px
				background-color: #828282
				position: absolute
				bottom: 0
				left: 0
		&__date
			font-size: 14px
			color: #4F4F4F

.vacancies
	&__ttl
		margin: 40px 0 20px
		font-family: $title-s
		font-size: 25px
		text-transform: uppercase
		letter-spacing: .05em
		color: #333333
		text-align: center
	&__txt
		margin-bottom: 20px
		font-size: 20px
		color: #000
		text-align: center
	&__img
		margin: 0 auto
	&__subttl
		font-family: $title-s
		font-size: 18px
		text-transform: uppercase
		letter-spacing: .02em
		margin: 40px 0 20px
	&-item
		margin-bottom: 40px
		&__img
			min-height: 300px
			background-position: center
			background-size: cover
			margin-bottom: 10px
		&__name
			font-family: $title-m
			font-size: 18px
			color: #333333
			margin-bottom: 10px
		&__txt
			font-size: 12px
			color: #4F4F4F
			margin-bottom: 10px
		&__link
			display: block
			float: right
			font-family: $bold
			font-size: 14px
			text-decoration: underline
			color: #5E5B5B


.about
	&__ttl
		margin: 40px 0
		font-family: $title-s
		font-size: 25px
		text-transform: uppercase
		letter-spacing: .05em
		color: #333333
		text-align: center
	&__txt
		font-size: 17px
		color: #333333
		margin-bottom: 30px
		&:last-child
			margin-bottom: 40px
	&__video
		display: block
		width: 100%
		height: auto
		margin: 0 auto 40px

.contacts
	&__ttl
		margin: 40px 0 20px
		font-family: $title-s
		font-size: 25px
		text-transform: uppercase
		letter-spacing: .05em
		color: #333333
		text-align: center
	&-form
		max-width: 440px
		margin: 0 auto 40px
		&__input
			display: block
			width: 100%
			outline: none
			border: none
			background-color: #F5F5F5
			color: #4F4F4F
			padding: 9px 0
			font-size: 14px
			text-align: center
			text-transform: uppercase
			margin-bottom: 10px
		&__select
			display: block
			cursor: pointer
			width: 100%
			appearance: none
			outline: none
			border: none
			background-color: #F5F5F5
			color: #4F4F4F
			padding: 9px 0
			font-size: 14px
			text-align-last: center
			text-transform: uppercase
			margin-bottom: 10px
		&__label
			position: relative
			display: block
			cursor: pointer
			&:before
				content: ''
				width: 39px
				height: 39px
				background-color: rgba(#C4C4C4, .27)
				position: absolute
				right: 0
				top: 0
			&:after
				content: ''
				width: 15px
				height: 15px
				background-image: url(../img/contacts-arr.svg)
				background-size: 15px 15px
				position: absolute
				top: 12px
				right: 12px
		&__btn
			display: block
			width: 100%
			outline: none
			border: none
			background-color: $grey
			color: #F2F2F2
			padding: 9px 0
			font-size: 14px
			text-align: center
			text-transform: uppercase
			margin-bottom: 10px
	&-item
		max-width: 330px
		margin: 0 auto 30px
		&:last-child
			margin-bottom: 0
		&__ttl
			font-size: 14px
			text-transform: uppercase
			margin-bottom: 10px
		&__txt
			margin-bottom: 5px
			font-size: 14px
			color: #4F4F4F
		&__phone
			display: block
			margin-bottom: 5px
			font-size: 14px
			color: #4F4F4F
		&__email
			display: block
			font-size: 14px
			color: #4F4F4F

.technologies
	&__ttl
		margin: 40px 0
		font-family: $bold
		font-size: 25px
		letter-spacing: .05em
		color: #333333
		text-align: center
	&__wrap
		margin-bottom: 40px
	&__subttl
		font-family: $bold
		margin-bottom: 20px

.foot
	background-color: $grey
	padding: 20px 0
	&__logo
		max-width: 120px
		margin: 0 auto 10px
	&__txt
		font-size: 14px
		text-align: center
		color: #fff

.map
	position: relative
	min-height: 390px
	margin-top: 40px

.people
	&__ttl
		margin: 40px 0 20px
		font-family: $title-s
		font-size: 25px
		text-transform: uppercase
		letter-spacing: .05em
		color: #333333
		text-align: center
	&-item
		margin-bottom: 40px
		&__img
			height: 300px
			background-size: cover
			background-position: center top
			margin-bottom: 10px
		&__name
			position: relative
			margin-bottom: 10px
			padding-bottom: 10px
			font-family: $bold
			font-size: 18px
			&:before
				content: ''
				width: 100px
				height: 1px
				background-color: #262626
				position: absolute
				bottom: 0
				left: 0
		&__txt
			font-size: 14px
			margin-bottom: 5px
			&:last-child
				margin-bottom: 0

.detail
	&__ttl
		font-family: $title-s
		font-size: 30px
		text-transform: uppercase
		margin-bottom: 20px
	&__txt
		font-size: 18px
		letter-spacing: .02em
		margin-bottom: 10px
		span
			font-family: $bold
		&.last
			margin-bottom: 20px
	&__other
		font-size: 18px
		letter-spacing: .02em
		margin-bottom: 20px
		&:last-child
			margin-bottom: 40px
	&-img
		height: 350px
		background-size: cover
		background-position: center center
		margin-bottom: 20px
	&-note
		font-family: $bold
		letter-spacing: .03em
		span
			display: block
			text-transform: uppercase
	&-slider
		&__slide
			min-height: 600px
			background-size: cover
			background-position: center center

.related
	&__ttl
		font-family: $title-s
		font-size: 16px
		letter-spacing: .3em
		margin-bottom: 20px
		margin-top: 40px
	&-item
		display: block
		margin-bottom: 40px
		&__img
			height: 350px
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			margin-bottom: 10px
		&__ttl
			position: relative
			font-family: $title-s
			font-size: 16px
			letter-spacing: .02em
			color: #333333
			margin-bottom: 10px
			padding-bottom: 10px
			&:after
				content: ''
				width: 80px
				height: 1px
				background-color: #828282
				position: absolute
				bottom: 0
				left: 0
		&__date
			font-size: 14px
			color: #4F4F4F

@import "media" // Always at the end
